.env
.env.old
containers/bitcoind/volume/data
containers/bitcoind/volume/config/.env
containers/bitcoind/volume/config/.env.*
containers/bitcoind/volume/config/*
!containers/bitcoind/volume/config/examples

