#################################################
## Bitcoin Config variables
#
## By Mr. Bitcoiner
#################################################
## Static variables 
## DO NOT CHANGE THESE VARIABLES!
readonly BITCOIN_REPOSITORY_URL='https://github.com/bitcoin/bitcoin'
readonly BITCOIN_COMMIT_VERSION='fcf6c8f4eb217763545ede1766831a6b93f583bd'

#################################################
## User configuration variables
## Here you can change the values as you want
#################################################
## Disabled by default, can be enabled in the file "containers/bitcoind/volume/scripts/bitcoindConfig.sh"
BITCOIN_ONLYNET=onion
BITCOIN_PROXY=127.0.0.1:9050
BITCOIN_REGTEST=1
BITCOIN_REGTEST_RPCPORT=3000
BITCOIN_RPCALLOWIP=10.0.0.0/24
#################################################
## Enabled configuration
BITCOIN_MAIN=1
BITCOIN_DAEMON=0
BITCOIN_SERVER=1
BITCOIN_PRUNE=10240
BITCOIN_DBCACHE=100
BITCOIN_MAXMEMPOOL=300
BITCOIN_MAXCONNECTIONS=20
BITCOIN_DATADIR=/app/data/bitcoinData/.bitcoin
BITCOIN_RPCUSER=bitcoin
BITCOIN_RPCPASSWORD=bitcoin
BITCOIN_BIND=0.0.0.0
BITCOIN_RPCBIND=0.0.0.0:8332
BITCOIN_RPCPORT=8332

